@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 394px);
        padding-right: calc(50% - 394px);
    }

    .top {

        &__image {

            &-mobile {
                display: block;
                position: absolute;

                &_1 {
                    display: none;
                }

                &_2 {
                    display: none;
                }

                &_3 {
                    display: none;
                }

                &_4 {
                    display: none;
                }

                &_5 {
                    top: 0px;
                    right: 0px;
                }

                &_6 {
                    display: none;
                }
            }

            &_1 {
                bottom: 140px;
                right: 120px;
            }

            &_4 {
                bottom: 225px;
                right: 205px;
            }

            &_5 {
                display: none;
            }
        }

        &__link:hover {
            text-decoration: none;
        }

        &__link:active {
            text-decoration: underline;
        }

        &__button:hover {
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0);
            transition: none;
        }

        &__title {
            width: 680px;
            font-size: 48px;
        }
    }

    .games-info {

        &__elements {
            max-height: 1680px;
        }

        &__star {

            &_1 {
                top: 147px
            }
        }
    }

    .elements__transfer {
        grid-column: span 6;
        height: auto;

        &:hover {
            transform: none;
            transition: none;
            cursor: none;
        }
    }

    .elements__game {

        &_1,
        &_3 {
            height: auto;
        }

        &_2,
        &_5 {
            height: auto;
        }

        &_4,
        &_6 {
            height: auto;
            margin-top: 0px;
        }
    }

    .block {



        &__picture {
            width: 400px;
            height: 333px;
        }

        &__text {
            padding: 30px;
        }

        &__name {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
        }

        &__info {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-top: 20px;
            padding-bottom: 32px;
        }

        &__button {
            font-size: 16px;

            &:hover {
                color: rgb(255, 255, 255);
                background: rgb(0, 0, 0);
                transition: none;
            }
        }
    }

    .footer {
        height: 125px;
    }

}

@media (max-width: 828px) {

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .top {

        &__image {

            &_1 {
                bottom: 125px;
            }

            &_4 {
                bottom: 210px;
            }
        }
    }

    .games-info {

        &__elements {
            justify-items: center;
            gap: 24px;
        }

        &__star {
            display: none;
        }
    }

    .elements__transfer {
        width: 348px;
    }

    .game__picture {
        width: 348px;
    }

    .block__text {
        padding: 26px 36px;
    }

    .mini-games__star {

        &_1 {
            top: 110px;
        }

        &_2 {
            top: 87px;
        }

        &_3 {
            bottom: 55px;
        }
    }
}

@media (max-width: 767px) {

    .games-info {
        display: none;
    }

    .block {
        &__picture {
            display: none;
        }

        &__picture-mobile {
            display: block;
        }
    }
}

@media (max-width: 689px) {}