* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    box-sizing: border-box;
    background-image: url(./images/background_top.png);
    height: 800px;
    position: relative;
    overflow: hidden;

    &__image {
        position: absolute;

        &_1 {
            bottom: 149px;
            right: 344px;
        }

        &_2 {
            top: 69px;
            left: 156px;
        }

        &_3 {
            top: 94px;
            left: 63px;
        }

        &_4 {
            bottom: 225px;
            right: 455px;
        }

        &_5 {
            top: -333px;
            right: -488px;
        }

        &_6 {
            bottom: 0px;
            left: 0px;
        }
    }

    &__image-mobile {
        display: none;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 196px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 48px;
        max-width: 720px;
    }

    &__link {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__button {
        display: block;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        width: 247px;
        padding: 16px 28px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;

        &:hover {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            transition: 0.8s;
        }
    }
}

.games-info {
    background: rgb(32, 32, 39);

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 94px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 72px;
    }

    &__elements {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-bottom: 50px;
        max-height: 1056px;
    }
}

.elements__game {
    width: 378px;
    background: #fff;
    border-radius: 30px;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    height: min-content;
    position: relative;

    &:hover {
        transform: scale(1.08);
        transition: 0.7s;
        cursor: pointer;
    }

    &_1,
    &_3 {
        height: 473px;
    }

    &_2,
    &_5 {
        height: 512px;
    }

    &_4,
    &_6 {
        height: 551px;
        margin-top: -39px;
    }
}

.game {

    &__transfer::before {
        position: absolute;
        content: '';
        inset: 0;
    }

    &__text {
        padding: 32px;
        padding-bottom: 36px;
    }

    &__number {
        width: 80px;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        padding: 8px 16px 10px 16px;
    }

    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-top: 16px;
    }
}

@import 'tablet';
@import 'mobile';