* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    box-sizing: border-box;
    background-image: url(./images/background_top.png);
    height: 710px;
    position: relative;
    overflow: hidden;

    &__image {
        position: absolute;

        &_1 {
            bottom: 59px;
            right: 344px;
        }

        &_2 {
            top: 69px;
            left: 156px;
        }

        &_3 {
            top: 94px;
            left: 63px;
        }

        &_4 {
            bottom: 135px;
            right: 455px;
        }

        &_5 {
            top: -333px;
            right: -488px;
        }
    }

    &__image-mobile {
        display: none;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 196px;
        width: 768px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 48px;
        max-width: 720px;
    }

    &__link {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__button {
        display: block;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        width: 247px;
        padding: 16px 28px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        box-sizing: border-box;

        &:hover {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            transition: 0.9s;
        }
    }
}

.stripAnimated {

    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(188, 236, 48);
    display: flex;
    gap: 51px;
    overflow-x: hidden;
    padding: 27px 49px;

    &__element {
        color: rgb(32, 32, 39);
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    &__star-mobile {
        display: none;
    }
}

.games-info {
    background: rgb(32, 32, 39);
    position: relative;
    overflow: hidden;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 94px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 72px;
    }

    &__elements {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-bottom: 50px;
        max-height: 1056px;
    }

    &__star {
        position: absolute;

        &_1 {
            top: 77px;
            right: -143px;
            z-index: 0;
        }

        &_2 {
            top: 822px;
            left: 40px;
        }

        &_3 {
            top: 770px;
            left: 25px;
        }
    }
}

.elements {

    &__transfer {
        width: 378px;
        background: #fff;
        border-radius: 30px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        height: max-content;
        z-index: 1;

        &:hover {
            transform: scale(1.08);
            transition: 0.7s;
            cursor: pointer;
        }
    }

    &__game {

        &_1,
        &_3 {
            height: 473px;
        }

        &_2,
        &_5 {
            height: 512px;
        }

        &_4,
        &_6 {
            height: 551px;
            margin-top: -39px;
        }
    }
}

.game {

    &__transfer::before {
        position: absolute;
        content: '';
        inset: 0;
    }

    &__text {
        padding: 32px;
        padding-bottom: 36px;
    }

    &__number {
        width: 80px;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        padding: 8px 16px 10px 16px;
    }

    &__name {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-top: 16px;
    }
}

.mini-games {
    background: rgb(32, 32, 39);
    position: relative;
    padding-top: 46px;
    padding-bottom: 144px;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__play {
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__star {
        position: absolute;

        &_1 {
            top: 126px;
            right: 45px;
        }

        &_2 {
            top: 93px;
            right: 124px;
        }

        &_3 {
            bottom: 65px;
            right: 52px;
        }

        &_4 {
            bottom: 45px;
            right: 150px;
        }
    }
}

.play__block {
    background: #fff;
}

.block {

    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    &__text {
        display: flex;
        flex-direction: column;
        padding: 48px;
        width: 600px;
        box-sizing: border-box;
    }

    &__name {
        color: rgb(32, 32, 39);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__info {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 420px;
        padding-top: 24px;
        padding-bottom: 36px;

        &_long {
            max-width: 490px;
        }
    }

    &__button {
        display: block;
        border-radius: 60px;
        background: rgb(32, 32, 39);
        border: 1px solid #000;
        padding: 16px 28px;
        box-sizing: border-box;
        width: 247px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;

        &:hover {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            transition: 0.9s;
        }
    }

    &__picture-mobile {
        display: none;
    }
}

.footer {
    background: rgb(189, 237, 53);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
    }
}


@import 'tablet';
@import 'mobile';