* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  box-sizing: border-box;
  background-image: url(./images/background_top.png);
  height: 710px;
  position: relative;
  overflow: hidden;
}
.top__image {
  position: absolute;
}
.top__image_1 {
  bottom: 59px;
  right: 344px;
}
.top__image_2 {
  top: 69px;
  left: 156px;
}
.top__image_3 {
  top: 94px;
  left: 63px;
}
.top__image_4 {
  bottom: 135px;
  right: 455px;
}
.top__image_5 {
  top: -333px;
  right: -488px;
}
.top__image-mobile {
  display: none;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
  width: 768px;
}
.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 720px;
}
.top__link {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.top__link:hover {
  text-decoration: underline;
}
.top__button {
  display: block;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  width: 247px;
  padding: 16px 28px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  box-sizing: border-box;
}
.top__button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: 0.9s;
}

.stripAnimated {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(188, 236, 48);
  display: flex;
  gap: 51px;
  overflow-x: hidden;
  padding: 27px 49px;
}
.stripAnimated__element {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  flex-shrink: 0;
}
.stripAnimated__star-mobile {
  display: none;
}

.games-info {
  background: rgb(32, 32, 39);
  position: relative;
  overflow: hidden;
}
.games-info__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
}
.games-info__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 72px;
}
.games-info__elements {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding-bottom: 50px;
  max-height: 1056px;
}
.games-info__star {
  position: absolute;
}
.games-info__star_1 {
  top: 77px;
  right: -143px;
  z-index: 0;
}
.games-info__star_2 {
  top: 822px;
  left: 40px;
}
.games-info__star_3 {
  top: 770px;
  left: 25px;
}

.elements__transfer {
  width: 378px;
  background: #fff;
  border-radius: 30px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  z-index: 1;
}
.elements__transfer:hover {
  transform: scale(1.08);
  transition: 0.7s;
  cursor: pointer;
}
.elements__game_1, .elements__game_3 {
  height: 473px;
}
.elements__game_2, .elements__game_5 {
  height: 512px;
}
.elements__game_4, .elements__game_6 {
  height: 551px;
  margin-top: -39px;
}

.game__transfer::before {
  position: absolute;
  content: "";
  inset: 0;
}
.game__text {
  padding: 32px;
  padding-bottom: 36px;
}
.game__number {
  width: 80px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
}
.game__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  padding-top: 16px;
}

.mini-games {
  background: rgb(32, 32, 39);
  position: relative;
  padding-top: 46px;
  padding-bottom: 144px;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.mini-games__play {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mini-games__star {
  position: absolute;
}
.mini-games__star_1 {
  top: 126px;
  right: 45px;
}
.mini-games__star_2 {
  top: 93px;
  right: 124px;
}
.mini-games__star_3 {
  bottom: 65px;
  right: 52px;
}
.mini-games__star_4 {
  bottom: 45px;
  right: 150px;
}

.play__block {
  background: #fff;
}

.block {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.block__text {
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 600px;
  box-sizing: border-box;
}
.block__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.block__info {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 420px;
  padding-top: 24px;
  padding-bottom: 36px;
}
.block__info_long {
  max-width: 490px;
}
.block__button {
  display: block;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  border: 1px solid #000;
  padding: 16px 28px;
  box-sizing: border-box;
  width: 247px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}
.block__button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: 0.9s;
}
.block__picture-mobile {
  display: none;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 394px);
    padding-right: calc(50% - 394px);
  }
  .top__image-mobile {
    display: block;
    position: absolute;
  }
  .top__image-mobile_1 {
    display: none;
  }
  .top__image-mobile_2 {
    display: none;
  }
  .top__image-mobile_3 {
    display: none;
  }
  .top__image-mobile_4 {
    display: none;
  }
  .top__image-mobile_5 {
    top: 0px;
    right: 0px;
  }
  .top__image-mobile_6 {
    display: none;
  }
  .top__image_1 {
    bottom: 140px;
    right: 120px;
  }
  .top__image_4 {
    bottom: 225px;
    right: 205px;
  }
  .top__image_5 {
    display: none;
  }
  .top__link:hover {
    text-decoration: none;
  }
  .top__link:active {
    text-decoration: underline;
  }
  .top__button:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    transition: none;
  }
  .top__title {
    width: 680px;
    font-size: 48px;
  }
  .games-info__elements {
    max-height: 1680px;
  }
  .games-info__star_1 {
    top: 147px;
  }
  .elements__transfer {
    grid-column: span 6;
    height: auto;
  }
  .elements__transfer:hover {
    transform: none;
    transition: none;
    cursor: none;
  }
  .elements__game_1, .elements__game_3 {
    height: auto;
  }
  .elements__game_2, .elements__game_5 {
    height: auto;
  }
  .elements__game_4, .elements__game_6 {
    height: auto;
    margin-top: 0px;
  }
}
@media (max-width: 828px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .games-info__elements {
    justify-items: center;
    gap: 24px;
  }
  .games-info__star {
    display: none;
  }
  .elements__transfer {
    width: 348px;
  }
  .game__picture {
    width: 348px;
  }
}
@media (max-width: 426px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 649px;
  }
  .top__image {
    display: none;
  }
  .top__image-mobile {
    display: block;
    position: absolute;
  }
  .top__image-mobile_1 {
    right: 34px;
    bottom: 28px;
  }
  .top__image-mobile_2 {
    top: 64px;
    left: 91px;
  }
  .top__image-mobile_3 {
    top: 97px;
    left: 37px;
  }
  .top__image-mobile_4 {
    bottom: 74px;
    right: 86px;
  }
  .top__image-mobile_5 {
    top: -90px;
    right: -90px;
  }
  .top__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    max-width: 262px;
    padding-top: 147px;
  }
  .top__text {
    max-width: 296px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
  }
  .top__link {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .top__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    width: 285px;
  }
  .stripAnimated {
    gap: 27px;
    padding: 16px 24px;
  }
  .stripAnimated__element {
    font-size: 16px;
  }
  .stripAnimated__star {
    display: none;
  }
  .stripAnimated__star-mobile {
    display: block;
  }
  .games-info {
    display: none;
  }
  .mini-games {
    padding-bottom: 48px;
  }
  .mini-games__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
  }
  .mini-games__play {
    gap: 24px;
    padding-top: 48px;
  }
  .mini-games__star {
    display: none;
  }
  .play__block {
    flex-direction: column;
  }
  .block__text {
    width: 343px;
    padding: 29px 29px 32px 29px;
  }
  .block__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .block__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 245px;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .block__info_4 {
    max-width: 275px;
  }
  .block__button {
    width: 285px;
    font-size: 16px;
  }
  .block__picture {
    display: none;
  }
  .block__picture-mobile {
    display: block;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}/*# sourceMappingURL=stile.css.map */