* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  box-sizing: border-box;
  background-image: url(./images/background_top.png);
  height: 800px;
  position: relative;
  overflow: hidden;
}
.top__image {
  position: absolute;
}
.top__image_1 {
  bottom: 149px;
  right: 344px;
}
.top__image_2 {
  top: 69px;
  left: 156px;
}
.top__image_3 {
  top: 94px;
  left: 63px;
}
.top__image_4 {
  bottom: 225px;
  right: 455px;
}
.top__image_5 {
  top: -333px;
  right: -488px;
}
.top__image_6 {
  bottom: 0px;
  left: 0px;
}
.top__image-mobile {
  display: none;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
}
.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 720px;
}
.top__link {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.top__link:hover {
  text-decoration: underline;
}
.top__button {
  display: block;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  width: 247px;
  padding: 16px 28px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
}
.top__button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: 0.8s;
}

.games-info {
  background: rgb(32, 32, 39);
}
.games-info__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
}
.games-info__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 72px;
}
.games-info__elements {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding-bottom: 50px;
  max-height: 1056px;
}

.elements__game {
  width: 378px;
  background: #fff;
  border-radius: 30px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}
.elements__game:hover {
  transform: scale(1.08);
  transition: 0.7s;
  cursor: pointer;
}
.elements__game_1, .elements__game_3 {
  height: 473px;
}
.elements__game_2, .elements__game_5 {
  height: 512px;
}
.elements__game_4, .elements__game_6 {
  height: 551px;
  margin-top: -39px;
}

.game__transfer::before {
  position: absolute;
  content: "";
  inset: 0;
}
.game__text {
  padding: 32px;
  padding-bottom: 36px;
}
.game__number {
  width: 80px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
}
.game__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  padding-top: 16px;
}

@media (max-width: 426px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__image {
    display: none;
  }
  .top__image-mobile {
    display: block;
    position: absolute;
  }
  .top__image-mobile_1 {
    right: 34px;
    bottom: 79px;
  }
  .top__image-mobile_2 {
    top: 64px;
    left: 91px;
  }
  .top__image-mobile_3 {
    top: 97px;
    left: 37px;
  }
  .top__image-mobile_4 {
    bottom: 125px;
    right: 86px;
  }
  .top__image-mobile_5 {
    top: -90px;
    right: -90px;
  }
  .top__image-mobile_6 {
    bottom: 0px;
    left: 0px;
  }
  .top__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .top__text {
    color: rgb(32, 32, 39);
    max-width: 296px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .top__link {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  .games-info {
    display: none;
  }
}/*# sourceMappingURL=stile.css.map */